<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FCU FDD Form</title>
    <style>

        body {
            background-image: url('/static/FDD-at-FSU.png'); 
            background-color: rgba(255, 255, 255, 0.95); /* White background with 80% opacity */
            background-blend-mode: lighten; /* Blend the background image with the background color */
            background-size: cover; /* Cover the entire viewport */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* No repeating */
            background-attachment: fixed; /* Fixed background */
        }
        .form-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Two columns */
            gap: 20px; /* Gap between columns */
        }

        .form-group {
            margin-bottom: 20px;
        }

        /* Adjust styles as needed */
        label {
            font-weight: bold;
        }


        input[type="submit"],
        button[type="button"] {
            width: 100%;
            padding: 10px; /* Increase padding to adjust button size */
            margin-top: 5px;
            box-sizing: border-box;
            font-size: 16px; /* Adjust font size if needed */
        }

        input[type="text"] {
            width: 50%; /* Adjust the width as needed */
        }

        .column-buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .image-container {
            display: flex;
            align-items: center; /* Vertically center the image and text */
        }

        .image-container img {
            width: 100px; /* Adjust image width as needed */
            height: auto;
            margin-right: 10px; /* Add space between the image and text */
        }

    </style>
</head>
<body>
    <h1>
        <!-- <img src="{{url_for('static', filename='FDD LOGOS.png')}}" style="width: 200px; height: auto;"> -->
        <div class="image-container">
            <a href="/">
                <img src="{{url_for('static', filename='FDD LOGOS.png')}}" alt="Logo">
            </a>
            <p>PPCL Generator<br>FCU</p>
        </div>
    </h1>


    <form action="/form" method="POST" class="form-container">
        <fieldset>
            <legend>General Information</legend>
            <div class="form-group">
                <label for="panel_name">Panel Name:</label>
                <input type="text" name="panel_name" id="panel_name" required><br><br>

            </div>

            <div>
                <label for="panel_type">Panel Type:</label>
                <input type="text" name="panel_type" id="panel_type" required><br><br>

            </div>

            <div>
                <label for="IP_address">IP Address:</label>
                <input type="text" id="IP_address" name="IP_address" required><br><br>

            </div>

            <div>
                <label for="panel_location">Panel Location:</label>
                <input type="text" id="panel_location" name="panel_location" required><br><br>
            </div>
        </fieldset>

        <fieldset>
            <legend>Equipment Details</legend>
            <div class="form-group">
                <label for="drawing_reference">Drawing Reference:</label>
                <input type="text" id="drawing_reference" name="drawing_reference" ><br><br>

            </div>

            <div>
                <label for="bldg_num">Building Number:</label>
                <input type="number" id="bldg_num" name="bldg_num" required min="1"><br><br>

            </div>

            <div>
                <label for="unit">Unit Number:</label>
                <input type="text" id="unit" name="unit" required><br><br>

            </div>
        </fieldset>

        <fieldset>
            <legend>Revision Information</legend>
            <div class="form-group">
                <label for="rev">Revision:</label>
                <input type="number" id="rev" name="rev" required min="1"><br><br>

            </div>

            <div>
                <label for="date">Date:</label>
                <input type="text" id="date" name="date" required><br><br>

            </div>

            <div>
                <label for="author">Author:</label>
                <input type="text" id="author" name="author" required><br><br>

            </div>

            <div>
                <label for="comments">Comments:</label>
                <input type="text" id="comments" name="comments" required><br><br>
        
            </div>

            <!-- Radio button for additional information -->
            <div>
                <label for="additional_info">Additional Information:</label><br>
                <input type="radio" id="yes" name="radio_option" value="yes">
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="radio_option" value="no" checked>
                <label for="no">No</label><br><br>
            </div>

            <!-- Additional fields, initially hidden -->
            <div id="additional_info_fields" style="display: none;">
                <label for="rev2">Revision:</label>
                <input type="number" id="rev2" name="rev2" min="1"><br><br>
            </div>

            <div id="additional_info_fields2" style="display: none;">
                <label for="date">Date:</label>
                <input type="text" id="date2" name="date2"><br><br>
            </div>

            <div id="additional_info_fields3" style="display: none;">
                <label for="author2">Author:</label>
                <input type="text" id="author2" name="author2"><br><br>
            </div>

            <div id="additional_info_fields4" style="display: none;">
                <label for="comments2">Comments :</label>
                <input type="text" id="comments2" name="comments2"><br><br>
            </div>


            <div id="additional_info_fields5" style="display: none;">
                <label for="rev3">Revision:</label>
                <input type="number" id="rev3" name="rev3" min="1"><br><br>
            </div>

            <div id="additional_info_fields6" style="display: none;">
                <label for="date">Date:</label>
                <input type="text" id="date3" name="date3"><br><br>
            </div>

            <div id="additional_info_fields7" style="display: none;">
                <label for="author3">Author:</label>
                <input type="text" id="author3" name="author3"><br><br>
            </div>

            <div id="additional_info_fields8" style="display: none;">
                <label for="comments3">Comments :</label>
                <input type="text" id="comments3" name="comments3"><br><br>
            </div>


        </fieldset>

        <fieldset>
            <legend>Points and Attributes</legend>
            <div class="form-group">
                <label for="occ">Occupancy:</label>
                <input type="text" id="occ" name="occ" required><br><br>
        
            </div>

            <div>
                <label for="fss">Fan Start/Stop:</label>
                <input type="text" id="fss" name="fss" required><br><br>
        
            </div>

            <div>
                <label for="static">Static Pressure:</label>
                <input type="text" id="static" name="static" required><br><br>
        
            </div>

            <div>
                <label for="vfds">VFD Speed :</label>
                <input type="text" id="vfds" name="vfds" required><br><br>
        
            </div>

            <div>
                <label for="chw">Chill Water Temperature:</label>
                <input type="text" id="chw" name="chw" required><br><br>
        
                
            </div>

            <div>
                <label for="hw">Hot Water Temperature:</label>
                <input type="text" id="hw" name="hw" required><br><br>
        
                
            </div>

            <div>
                <label for="sa">Supply Air Temperature:</label>
                <input type="text" id="sa" name="sa" required><br><br>
        
                
            </div>

            <div>
                <label for="ctl">Active Control Setpoint:</label>
                <input type="text" id="ctl" name="ctl" required><br><br>
        
            </div>

            <div>
                <label for="oaz">Outside Air Temperature:</label>
                <input type="text" id="oaz" name="oaz" required><br><br>
        
                
            </div>

            <div>
                <label for="htg">Day Heating Setpoint:</label>
                <input type="text" id="htg" name="htg" required><br><br>
        
                
            </div>

            <div>
                <label for="hc">Heat/Cool Mode:</label>
                <input type="text" id="hc" name="hc" required><br><br>
        
                
            </div>

            <div>
                <label for="clg">Day Cooling Setpoint:</label>
                <input type="text" id="clg" name="clg" required><br><br>
        
                
            </div>

            <div>
                <label for="rmt">Room Temperature:</label>
                <input type="text" id="rmt" name="rmt" required><br><br>

            </div>

            <div>
                <label for="rmh">Room Humidity:</label>
                <input type="text" id="rmh" name="rmh" required><br><br>
            </div>
        </fieldset>

    <!-- <div class="column-buttons">

        <input type="submit" value="Submit"> Placed in the right column
    </div> -->
        <input type="submit" value="Submit"> 
    </form>
    <!-- JavaScript to toggle visibility of additional fields -->
    <script>
        // Function to toggle visibility of additional fields
        function toggleAdditionalFields() {
            var additionalInfoFields1 = document.getElementById("additional_info_fields");
            var additionalInfoFields2 = document.getElementById("additional_info_fields2");
            var additionalInfoFields3 = document.getElementById("additional_info_fields3");
            var additionalInfoFields4 = document.getElementById("additional_info_fields4");
            var additionalInfoFields5 = document.getElementById("additional_info_fields5");
            var additionalInfoFields6 = document.getElementById("additional_info_fields6");
            var additionalInfoFields7 = document.getElementById("additional_info_fields7");
            var additionalInfoFields8 = document.getElementById("additional_info_fields8");
            var radioYes = document.getElementById("yes");

            // If "Yes" is checked, show additional fields; otherwise, hide them
            if (radioYes.checked) {
                additionalInfoFields1.style.display = "block";
                additionalInfoFields2.style.display = "block";
                additionalInfoFields3.style.display = "block";
                additionalInfoFields4.style.display = "block";
                additionalInfoFields5.style.display = "block";
                additionalInfoFields6.style.display = "block";
                additionalInfoFields7.style.display = "block";
                additionalInfoFields8.style.display = "block";
            } else {
                additionalInfoFields1.style.display = "none";
                additionalInfoFields2.style.display = "none";
                additionalInfoFields3.style.display = "none";
                additionalInfoFields4.style.display = "none";
                additionalInfoFields5.style.display = "none";
                additionalInfoFields6.style.display = "none";
                additionalInfoFields7.style.display = "none";
                additionalInfoFields8.style.display = "none";
            }
        }

        // Add event listener to the radio buttons to trigger the toggle function
        var radioButtons = document.getElementsByName("radio_option");
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener("change", toggleAdditionalFields);
        });

        // Initially call the toggle function to set the initial visibility state
        toggleAdditionalFields();
    </script>

</body>
</html>
